<header>
    <div class="Title">
        <h1 class="text-white">
            POTENCIA TU MARCA CON EL MEJOR
            <span class="text-gradient">MARKETING DIGITAL</span>
        </h1>
        <div class="button">
            <button class="border border-white text-white font-bold py-2 px-4 rounded">
                Comenzar
            </button>
        </div>
    </div>
</header>


<style>
.text-gradient {
    background: linear-gradient(180deg, #ffff, #E58429);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


</style>
